html,body {
	height:100%;
}

.homepage_container {
	background-color: rgb(0, 0, 53);
}


.scrollable {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE */
    /*z-index: 101;*/
}
.scrollable::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

#chats {
    list-style-type: none;
    font-size: medium;
}

#users {
    list-style-type: none;
    font-size: larger;
}

#queue {
    list-style-type: none;
    font-size: large;
}

.media_container {
	background-color: black;
}

.chat_container {
	background-color: #111111;
	color: #d3d3d3;
}

video, .vid_content, .mejs__container, .mejs__video {
    max-width: 100%;
    max-height: 100vh;
}

.queue_item {
    max-width: 18rem;
}